.avatarUploader {
  position: relative;
  cursor: pointer;
  width: 128px;
  height: 128px;
  margin: 0 auto 24px auto; // 保持居中和下边距

  // Antd Upload 组件的包裹层
  :global(.ant-upload-wrapper) {
    width: 100%;
    height: 100%;
  }

  .avatarImage {
    transition: filter 0.3s ease;
  }

  .uploadOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; // 确保不会阻挡点击事件
  }

  // 悬停时触发效果
  &:hover {
    .avatarImage {
      filter: brightness(0.7); // 图片变暗
    }
    .uploadOverlay {
      opacity: 1;
    }
  }
}
